/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: sans-serif;
}

body #over-ride {
  font-family: sans-serif;
}

.buttons {
  text-align: center;
  margin-top: 30px;
}
.male-button {
  display: inline-block;
  margin-right: 5px;
  padding: 8px;
  background-color: #57E2E5;
  border-radius: 28px;
}
.female-button {
  margin-left: 5px;
  display: inline-block;
  padding: 8px;
  border-radius: 30px;
  background-color: #45CB85;
}
button:hover i.fa.fa-male.fa-3x {
  color: white;
}
button:hover i.fa.fa-female.fa-3x {
  color: white;
}
.male-button button {
  background-color: #57E2E5;
  border-radius: 28px;
}
.female-button button {
  background-color: #45CB85;
  border-radius: 28px;
}

#over-ride button {
  height: 40px;
  width: 175px;
  font-size: 16px;
  color: black;
  font-family: sans-serif;
  border: none;
}

.zipcode-form {
  text-align: center;
  margin-top: 40px;
}

.zipcode-form button {
  border-radius: 28px;
  height: 40px;
  width: 175px;
  font-size: 16px;
  color: black;
  font-family: sans-serif;
  background-color: #EE6352;
}
#over-ride .zipcode-form input {
  height: 40px;
  margin-left: 10px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
}

#over-ride .zipcode-form input:focus {
  border-bottom: 1px solid black;
  outline: none;
}

.search-feature{
  text-align: center;
  margin-top: 50px;
}

.hide{
  display: none;
}

.movies {
  display: block;
  text-align: center;
}

#over-ride .movie-description .col-md-8 {
  display: block;
  text-align: center;
  margin-left: 220px;
  color: #EE6352;
}

.current-weather {
  text-align: center;
}

.clothing-ideas {
  margin-top: 30px;
}

#over-ride .clothing-ideas a {
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
}
